[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
[submodule "data/samples"]
	path = data/samples
	url = git@hf.co:datasets/ho22joshua/hackathon_samples
[submodule "data/datasets/root-rl-dataset"]
	path = data/datasets/root-rl-dataset
	url = git@hf.co:datasets/ho22joshua/root-rl-dataset
